[submodule "vendor/sinatra"]
	path = vendor/sinatra
	url = git://github.com/sinatra/sinatra.git
[submodule "vendor/rack"]
	path = vendor/rack
	url = git://github.com/rack/rack.git
[submodule "vendor/perennial"]
	path = vendor/perennial
	url = git://github.com/Sutto/perennial.git
