<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en-US' xml:lang='en-US' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>GitAuth</title>
    <link rel="stylesheet" type="text/css" href="/gitauth.css" media="screen" />
    <script type="text/javascript" src="/jquery.js"></script>
    <script type="text/javascript" src="/gitauth.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1><a href="/">GitAuth Admin Area</a></h1>
      </div>
      <% if params[:message] %>
        <div class="message">
          <%=h params[:message] %>
        </div>
      <% end %>
      <div id="contents">
        <%= yield %>
      </div>
      <div id="footer">
        Powered by GitAuth v<%= GitAuth.version %>
      </div>
    </div>
  </body>
</html>
